@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
    @apply select-text;
}


.link-name{
    @apply flex relative;
}

.link-name::after{
    content:"";
    height:2px;
    width:0px;
    @apply bg-green-500 absolute -bottom-3 transition-all duration-200;
}

.link:hover .link-name::after{
    @apply w-full;
}

@media (min-width: 768px) and (max-width:1024px) {
    .car-img{
        height:60vh;
        @apply object-cover;
    }
}

@media (min-width: 0px) and (max-width:768px) {
    .car-img{
        height:80vh;
        @apply object-cover;
    }
}

.scrollbar-black::-webkit-scrollbar-track {
    @apply rounded-full bg-transparent
}

.scrollbar-black::-webkit-scrollbar {
    @apply w-2 transform bg-transparent transition-all duration-300;
}
.scrollbar-black::-webkit-scrollbar-thumb {
    @apply rounded-full lg:bg-gray-300 bg-transparent;
}

.scrollbar-black::-webkit-scrollbar-thumb:hover {
    @apply lg:bg-gradient-to-b from-gray-400 via-gray-300 to-gray-400 bg-transparent;
}

.scroller{
    overflow-y: scroll;
    scrollbar-color: #536081 #171b2700;
    scrollbar-width:thin;
}

.user:hover div{
    height:200px !important;
}